@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    /* Typografi */
    --text: "montserrat", sans-serif;
    --h1_text: "Prociono", serif;
    --h2_text: "Prociono", serif;

    /* Farver */
    --primary: #ff5e04;
    --sandstone: #faf9f7;
    --sandbeach: #faf0dc;
    --sort: #000000;
    --hvid: #ffffff;
    --txtcolor: #545454;

    /* Sizes */
    --font_h1: clamp(1.9375rem, 0.8125rem + 4.5vw, 4.1875rem);
    --font_h2: clamp(1rem, 0.21875rem + 3.125vw, 2.5625rem);
    /* intro brødtekst til hver side */
    --font_h3: clamp(1.25rem, 0.9375rem + 1.25vw, 1.875rem);
    /*afsnit startfornular*/
    --font_preh2: clamp(2rem, 1.6591rem + 1.4545vw, 2.75rem);
    --font_p: clamp(1rem, 0.8125rem + 0.75vw, 1.375rem);
    /*tabeller og cards */
    --font_h4: clamp(1.25rem, 1.09375rem + 0.625vw, 1.5625rem);
    --font_p_tabel: clamp(0.75rem, 0.65625rem + 0.375vw, 0.9375rem);

    --font_nav: 2.3rem;
    --font_knap: 1, 188rem;

    /* border-radius */
    --border-radius-sm: 5px;
    /* --border-radius-md: 20px; */

    /* Spacing */
    --spacing-10: 0.625rem;
    --spacing-15: 0.9375rem;
    --spacing-20: 1.25rem;
    --spacing-30: 1.875rem;
    --spacing-40: 2.5rem;
    --spacing-80: 5rem;

    /* Aliases */
    --heading-display: var(--heading-font-size-lg);
  }

  /* Basic css */

  * {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--text);
    color: var(--txtcolor);
  }

  main {
    max-width: 1200px;
    margin: auto;
  }

  body {
  }

  section {
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }

  /* Skrift */

  h1 {
    font-family: var(--h1_text);
    font-size: var(--font_h1);
    color: var(--sort);
  }

  h2 {
    font-family: var(--h2_text);
    font-size: var(--font_h2);
  }

  h3 {
    font-size: var(--font_h3);
  }

  h4 {
    font-size: var(--font_h4);
  }

  p {
    font-size: var(--font_p);
  }

  /* Header start */

  #header {
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 0vh;
    justify-content: space-between;
    z-index: 10;
    position: relative;
    top: -25%;
    left: 1%;
  }

  .menuknap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    /* border: 3px solid gray; */
    grid-column: 2;
    z-index: 10;
  }

  .menuknap_burger {
    width: 30px;
    height: 2px;
    background: #231709;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }

  .menuknap_burger::before,
  .menuknap_burger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: #231709;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }

  .menuknap_burger::before {
    transform: translateY(-10px);
  }

  .menuknap_burger::after {
    transform: translateY(10px);
  }

  /* -----header animation----

  .menuknap.open .menuknap_burger {
    transform: translateX(50px);
    background: transparent;
  }

  .menuknap.open .menuknap_burger::before {
    transform: rotate(45deg) translate(-35px, 35px);
  }

  .menuknap.open .menuknap_burger::after {
    transform: rotate(-45deg) translate(-35px, -35px);
  }

  .hidden1 {
    opacity: 0;
    transform: translateY(-100vw);
  }

  .hidden2 {
    display: none;
  }

  .show {
    display: block;
  }

  .fade {
    opacity: 10%;
  }

  #menu {
    list-style-type: none;
    transition: transform 0.3s;
    background-color: var(--yellow);
    text-align: right;
    transition: all 1s ease-in-out;
    position: absolute;
    top: 0;
    right: -1%;
    width: 15rem;
    padding-top: 5rem;
    z-index: 0;
    height: 70vh;
    margin-top: 10px;
  }

  #menu li {
    margin-top: 0.5rem;
    background-color: #ffffffa8;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
  }

  #menu li a {
    margin-right: 2rem;
  }

  .kort {
    background-image: url("img/map2little.webp");
    background-size: cover;
  }
} */
}
