@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    /* TYPOGRAFIER */
    --h1_text: "Prociono", serif;
    --h2_text: "Prociono", serif;
    --text: "montserrat", sans-serif;

    /* FARVER */
    --orange: #ff5e04;
    --orange-800: #ff5405;
    --cta-background-color: #ff5405;
    --primary-button-cta-background-color: var(--orange800);
    --secondary-button-cta-background-color: var(--hvid);
    --secondary-button-cta-border-color: var(--orange);
    --button-cta-background-color-hover: #ff5e04;

    --sandstone: #e7e7e7;
    --sandbeach: #faf0dc;
    --hvid: #ffffff;

    --sort: #000000;
    --txtcolor: #545454;
    --txtcolor-800: hlsa(0, 0%, 33%, 0.8);
    --txtcolor-600: rgba(84, 84, 84, 0.6);

    /* FONT SIZES */
    --font_h1: clamp(1.9375rem, 0.8125rem + 4.5vw, 3.1875rem);
    --font_h2: clamp(1rem, 0.21875rem + 3.125vw, 2.5625rem);
    /* intro brødtekst til hver side */
    --font_h3: clamp(1.25rem, 0.9375rem + 1.25vw, 1.875rem);
    /*afsnit startfornular*/
    --font_preh2: clamp(0.52rem, 1.6591rem + 1.4545vw, 0.8rem);
    --font_p: clamp(1rem, 0.8125rem + 0.75vw, 1.175rem);
    /*tabeller og cards */
    --font_h4: clamp(1rem, 1.09375rem + 0.625vw, 1.4625rem);
    --font_p_tabel: clamp(0.75rem, 0.65625rem + 0.375vw, 0.9375rem);
    /* buttons */
    --font_knap_s: 15px;
    --font_knap_m: clamp(
      1rem,
      0.9583333333333334rem + 0.16666666666666669vw,
      1.0625rem
    );
    --font_knap_l: clamp(1rem, 0.625rem + 1.5000000000000002vw, 1.5625rem);

    /* BORDER RADIUS */
    /* knapper */
    --border-radius-sm: 5px;
    /* trustpilot cards*/
    --border-radius-m: 10px;
    /* cookieboks */
    --border-radius-l: 20px;

    /* SPACING for fonts */
    --spacing-10: 0.625rem 0;
    --spacing-15: 0.9375rem 0;
    --spacing-20: 1.25rem 0;
    --spacing-30: 1.875rem 0;
    --spacing-40: 2.5rem 0;
    --spacing-80: 0 5rem 0;

    /*LINE HIGHT */
    --line-s: 0.8;
    --line-m: 1.2;
    --line-l: 1.5;
  }

  _______________________________________________

  /* Basic css */

  * {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--text);
  }

  main {
    margin: auto;
    color: var(--txtcolor);
  }

  section {
    margin-top: 2.8125rem;
    margin-bottom: 2.8125rem;
  }

  .maxwidthwrapper {
    max-width: 1000px;
    margin: 0 auto;
  }

  /* Skrift */

  h1 {
    font-family: var(--h1_text);
    font-size: var(--font_h1);
    color: var(--hvid);
  }

  h2 {
    font-family: var(--h2_text);
    font-size: var(--font_h2);
    color: var(--sort);
    line-height: var(--line-m);
    padding: var(--spacing-10);
  }

  h3 {
    font-size: var(--font_h3);
  }

  h4 {
    font-size: var(--font_h4);
  }

  p {
    font-size: var(--font_p);
    color: var(--txtcolor-800);
  }

  .preh2 {
    color: var(--txtcolor-600);
    font-size: var(--font_preh2);
    padding: var(--spacing-10);
    line-height: var(--line-s);
  }

  .tabeltxt {
    font-size: var(--font_p_tabel);
  }

  .navtxt {
    font-size: ;
  }

  /* ---------------Buttons start  -----------------*/

  .primarybuttonmedium {
    font-size: var(--buttin);
  }

  /* ---------------Buttons slut  -----------------*/

  /* ---------------Footer start  -----------------*/

  .footer_kontakt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    text-align: center;
  }

  .bgfooter {
    background-color: var(--sandbeach);
  }

  .cirkel {
    width: 130px;
    height: 130px;
    background-color: white;
    border-radius: 100px;
    margin: auto;
    justify-items: center;
  }

  footer img {
    margin: 0 auto;
  }

  .footer_kontakt img {
    width: 40px;
    height: 40px;
    margin: auto;
  }

  footer {
    background-color: var(--orange);
    opacity: 80%;
  }

  .footer {
    color: var(--hvid);
    display: grid;
    grid-gap: 2rem;
    padding: 2rem 0;
    max-width: 1200px;
    margin: 0 auto;
  }

  footer hr {
    margin: 0 2rem;
  }

  .footerslut {
    height: 25px;
    background-color: var(--hvid);
    color: var(--textcolor);
    text-align: center;
    padding: 5px;
  }

  .wave svg {
    width: 100%;
    margin-bottom: -1px;
  }

  .footerpalme {
    margin-top: -110px;
    margin-bottom: -1px;
    opacity: 80%;
  }
  /* ---------------Footer slut */

  /* !!!!!MOBILE ABOWE - WEB BELOW !!!!!!!!!!MOBILE ABOWE - WEB BELOW !!!!!!!!!!MOBILE ABOWE - WEB BELOW !!!!! */

  @media screen and (min-width: 700px) {
    /* main {
    section {
      max-width: 1000px;
    } */

    /* ----------- footer start -------------- */
    footer,
    footer p,
    footer a,
    footer li {
      font-size: 0.6rem;
    }

    footer h2 {
      font-size: 0.8rem;
      padding-top: 3.5rem;
      padding-bottom: 1rem;
    }

    footer img {
      width: 100px;
      height: 100px;
      margin: 0;
      margin-bottom: -16px;
      margin-top: 15px;
    }

    .footerline {
      width: 1px;
      background-color: var(--hvid);
      opacity: 50%;
    }

    .footer_kontakt {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 7rem 0;
    }
    .footer_kontakt img {
      margin: auto;
    }

    .footerline1 {
      display: block;
    }

    .adressline {
      display: flex;
      flex-direction: row;
    }

    .footer {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: auto auto auto;
      font-size: 0.8rem;
      padding: 0 2rem;
    }

    .footer_adress {
      grid-column: 1/2;
      grid-row: 2/4;
      text-align: left;
    }

    .footer_links {
      display: flex;
      justify-content: space-between;
      text-align: left;
      line-height: 1.9;
      grid-row: 2/4;
    }

    .footer_infomode {
      grid-column: 3/4;
      grid-row: 1/3;
    }

    .footer_some {
      grid-column: 3/4;
      grid-row: 3/4;
      padding-bottom: 2rem;
    }

    .footer_some p {
      padding-bottom: 1.5rem;
    }
  }
  /* ----------- footer slut -------------- */
}
